.custom-shape-divider-bottom-1711548087 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1711548087 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1711548087 .shape-fill {
  fill: #ffffff;
}

.curve {
  position: absolute;
  height: 225px;
  bottom: 0;
  width: 100%;
}

.curve::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  border-radius: 100% 50%;
  display: block;
  transform: translate(85%, 60%);
  background-color: white;
}

.curve::after {
  content: "";
  position: absolute;
  width: 55%;
  height: 100%;
  border-radius: 100% 50%;
  display: block;
  transform: translate(-4%, 40%);
  background-color: #4d069c;
}
